body {
  font-family: "Poppins", sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-count {
  max-width: 100%;
  width: 350px;
  height: min-content;
  padding: 50px;
  background-color: #dddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.step-count span {
  margin: 0 5px;
}
